.card-internal-container{
    border: solid 3px rgb(253, 239, 239);
    width: 400px;
    height: 250px;
    border-radius: 5px;
    margin:20px;
    padding: 0;
    background-color: #4fa5d8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: #72b1d5 5px 20px 50px;
}

.loading{
    font-size: 50px;
    padding-top: 70px;
}